# /etc/rancher/k3s/config.yaml
server: "<K3S_SERVER_IP:6443>"
token: "<K3S_TOKEN>"

flannel-backend: "none"
disable-kube-proxy: true
disable-network-policy: true

# All disabled components go in a list under a single 'disable' key
disable:
  - servicelb
  - traefik
